<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta id="server_data" data-creation-timestamp="{{ creation_timestamp }}">
    <title>Idle-Pastel - {{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
        .container {
            height: 95vh;
            width: 100vw;
        }

        .maxsize {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="row maxsize">
            <div class="col d-flex flex-column">
                <div class="row">
                    <div class="col">
                        <h1 id="paste_title" class="text-center">{{title}}</h1>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col maxsize">
						<textarea id="paste_area" class="maxsize" readonly="">{{paste_string}}</textarea>
					</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	{% raw %}
	<script>
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
			document.documentElement.setAttribute("data-bs-theme", "light")
		}
		$("document").ready(function(){
			const server_data = $("#server_data").data()

			const creation_datetime = new Date(server_data["creationTimestamp"] * 1000)
			const current_datetime = new Date()
			const keyword_map = {
				current_local_date: current_datetime.toLocaleDateString(),
				current_local_time: current_datetime.toLocaleTimeString(),
				current_local_datetime: current_datetime.toLocaleString(),
				current_utc_datetime: current_datetime.toUTCString().slice(0, -4),	// Slice removes confusing "GMT" timezone
				creation_local_date: creation_datetime.toLocaleDateString(),
				creation_local_time: creation_datetime.toLocaleTimeString(),
				creation_local_datetime: creation_datetime.toLocaleString(),
				creation_utc_datetime: creation_datetime.toUTCString().slice(0, -4)	// Slice removes confusing "GMT" timezone
			}

			const replace_keywords = function(index, html){
				let modified_html = html

				for (const [key, value] of Object.entries(keyword_map)) {
					modified_html = modified_html.replace(`{{ ${key} }}`, value)
				}

				return modified_html
			}

			$("#paste_title").html(replace_keywords);
			$("#paste_area").html(replace_keywords)

		})
	</script>
	{% endraw %}
</body>

</html>